<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body onload="drawChessboard()">
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
</div>

<h1 id="text"></h1>

<canvas id="chessboard"></canvas>
<canvas id="pieces"></canvas>

<script src="drawing.js"></script>

</body>
</html>